<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-beer-heading" jhiTranslate="gatewayApp.breweryBeer.home.createOrEditLabel">Create or edit a Beer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!beer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="beer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="beer.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.category" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                        [(ngModel)]="beer.category" required/>
                    <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="beer.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.style" for="field_style">Style</label>
                    <input type="text" class="form-control" name="style" id="field_style"
                        [(ngModel)]="beer.style" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.brewery" for="field_brewery">Brewery</label>
                    <input type="text" class="form-control" name="brewery" id="field_brewery"
                        [(ngModel)]="beer.brewery" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.abv" for="field_abv">Abv</label>
                    <input type="number" class="form-control" name="abv" id="field_abv"
                        [(ngModel)]="beer.abv" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.ibu" for="field_ibu">Ibu</label>
                    <input type="number" class="form-control" name="ibu" id="field_ibu"
                        [(ngModel)]="beer.ibu" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.srm" for="field_srm">Srm</label>
                    <input type="number" class="form-control" name="srm" id="field_srm"
                        [(ngModel)]="beer.srm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.upc" for="field_upc">Upc</label>
                    <input type="number" class="form-control" name="upc" id="field_upc"
                        [(ngModel)]="beer.upc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.breweryBeer.updated" for="field_updated">Updated</label>
                    <div class="input-group">
                        <input id="field_updated" type="text" class="form-control" name="updated" ngbDatepicker  #updatedDp="ngbDatepicker" [(ngModel)]="beer.updated"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
